/* regole generali */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
ul{
    padding: 0;
    list-style: none;
}
/* classi riutilizzabili */

.background-white{
    background-color: white;
}

.background-grey{
   background-color: rgb(180,208,231);
}

.background-80{
    width: 80%
}
.background-50{
    width: 60%;
}

/* bottoni  */

 button{ /*per qualche motivo di base il background è grigio, forse per qualche altro css linkato? tipo di fontawesome? */
    background-color: white;
}
button:hover{ /* i button se no non sembrano clickabili anche se sono anchors */
    cursor: pointer;
}

.fixed-width-button{
    
}

.responsive-button{
    width: 100%;
}
.fixed-width-button , .responsive-button {
    padding: 9px 20px;
}
    

.button-blue{
    background-color: rgb(0,97,255);
}

.button-white{
    background-color: white;
}
.button-bordless{
    border: 0px solid black;
}
.button-border{
    border: 1px solid black;
}
.button-text-color-white{
    color: white;
}
/* body  */

body{
    
}

/* header  */
header{
    position: relative;
    width: 100%;
    /* display: flex;  vedi se è necessario avere tutto l'header flex o semplicemente un solo div   */
}

header div#fixed-div ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

header div#fixed-div ul li{
    padding-right: 15px;
    font-size: 17px;
}

header div#fixed-div ul li button{
    font-size: 17px;
}

header a{
    padding: 0 5px;
    text-decoration: none;
}
#fixed-div{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 20px 5px 20px 5px;
    z-index: 999;
}

#jumbotron{
    padding: 150px 20% 0 20%;
    width: 100%;
}
#jumbotron ul li p, span, button{
    font-size: 20px;
}
.contieni-titolo{
    width: 100%;
    display: block;
}
.contieni-immagine{
    width: 70%;
    height: 100%;
    object-fit: contain;
    }
.contieni-testo{
    width: 30%;
    position: relative;
}
.contieni-testo li , .contieni-testo2 li{
    padding-bottom: 40px;
}
.contieni-testo li:last-child ,.contieni-testo2 li:last-child{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 60px;
    padding: 0 0 10px 0;
}
div.contieni-immagine img, div.contieni-immagine2 img{
        width: 100%;
        height: 100%;
    }

.flex-contenitore{
    display: flex;
    width: 100%;
}

h1{
    width: 100%;
    font-size: 80px;
    padding-bottom: 45px;
}
div.contieni-testo ul{
    padding: 0;
    list-style-type: none;
}


/* main  */
main{
    height: 100%;
}
main h2{
    width: 100%;
}

 #section-1{  /*magari posso trasformarla in una classe se è molto simile alle altre section */
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding: 100px 0;
}

/* sottosezione 1  */

#titolo-section-1 h2{
    font-size: 45px;
    padding-bottom: 50px;
}

#titolo-section-1 i{
    border-radius: 100%;
    color:#fff;
}
#titolo-section-1 span{
    padding-right: 40px;
}
#titolo-section-1{
    padding-bottom: 40px;
}
.circle-border-blue{
    border: 5px solid rgb(0,97,255);
}
.circle-border-grey{
    border: 2px solid rgb(210,210,212);
}

.titolo-colonna{
    text-align: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid gray;
    padding: 7px 0;
}

.riga-piano-business{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.padding-colonna{
    padding: 40px 30px;
    
}

.padding-colonna h3{
    font-size: 35px;
    padding-bottom: 20px;
}

.padding-colonna li{
    padding-bottom: 25px;
}
div.padding-colonna li i{
    padding-right: 5px;
    padding-bottom: 29px; 
}
/* .indentazione{
    text-indent: 2em;
    display: inline-block;
}

.bloccoco{
   display: inline-block;
} */

.colonna-piano-business{   
    width: calc(100% / 3);
    border: 1px solid gray;
}
div.colonna-piano-business button{/*  per farsi che il bottone e la span siano su due righe diverse */
   

}
.ul-padding{
    padding-top: 30px;
    padding-bottom: 30px;
}
.ul-border{
    border-image: linear-gradient(to right, gainsboro 20%, transparent 20%) 100% 1;
    border-top: 1px solid gainsboro;
    padding-top: 30px;
}
.ul-border i{
    color: rgb(8,105,255);
}
.ul-border h4{
    padding-left: 15px;
}


/* sottosezione 2 e 3 */
div.riga-box-enterprise.bordo-box h3{
    font-size: 30px;
    padding-bottom: 15px; 
}

div.riga-box-enterprise.bordo-box h4{
    font-size: 15px;
    padding-bottom: 40px;
}

.riga-box-enterprise{
    width: 100%;
    margin-top: 40px;
    gap: 30px;
    margin-bottom: 100px;
}
.colonna-testo{
    width: 70%;
    padding: 30px;
}
.colonna-bottone{
    width: 30%;
    text-align: center;
    padding: 30px;
}
.bordo-box{
    border: 1px solid gray;
}

.flex-box{
    display: flex;
    flex-wrap: nowrap;
    
}
 #gap{ /*gap per sottosezione 3 */
    gap: 30px;
    margin-bottom: 100px;
}
.contieni-immagine2{
    width: 60%;
    height: 100%;

}
.contieni-testo2{
    width: 40%;
    padding-top: 10%;
}

.contieni-testo2 h3{
    font-size: 30px;
    padding-bottom: 30px;
}
.contieni-testo2 p{
    padding-bottom: 30px;
}



/* sottosezione 4 */

.wrapper-sottosez4{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    width: 100%;
    gap: 10px;
    margin-bottom: 100px;
}
div.wrapper-sottosez4 div img{
    width: 100%
}
div.wrapper-sottosez4 div{
    width: calc(100% / 3 - 7px);
}
div.wrapper-sottosez4 h2, div.wrapper-sottosez5 h2{
    font-size: 35px;
    margin-bottom: 50px;
}

/* sottosezione 5 */

.wrapper-sottosez5{
    width: 100%;
    
}

/* sezione 2 */

#section-2 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    
}

/* sottosezione box aziende  */

.container-box-aziende{
    width: calc(100% / 3);
    height: calc(60vw / 2);
    display: flex;
    flex-wrap: wrap;
}
.container-img{
   width: 50%;
   height: 50%;
   position: relative;
    
}

.container-testo-centrale{
    width: calc(100% / 3);
    height: calc(60vw / 2);
    overflow: auto ;
    background-color:rgb(245,245,245);
    padding: 40px 60px;
}
div.container-testo-centrale img{
    width: 50%;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}
div.container-testo-centrale p{
    padding: 50px 0;
}

.half-a-border-on-bot {
    border-image: linear-gradient(to right, #000 50%, transparent 50%) 100% 1;
}

div.container-box-aziende img{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 50%;
}

.filter{
    filter: invert(100%);
    /* prova ad usare fill per cambiar colore all'immagine */
}
#designit{
    background-color: green;

}

#asu{
    background-color: brown;
}

#uf{
    background-color: cornflowerblue;
}

#topps{
    background-color: orangered;
}

#wbr{

}

#hearst{

}

#lonely{

}

#clear{

}

/* sezione 3 */

#section-3{
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#section-3 h2{
    font-size: 35px;
    color: rgb(97,8,43) ;
}

#section-3 button{
    width: 400px ;
   }

/* sezione 4  */

#section-4{
    padding: 100px 0;
    
}
section#section-4 div{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    border-bottom:  1px solid black;
    padding: 35px 30px 35px 0;
    
}

section#section-4 div i{
    font-size: 15px;
}

section#section-4 div h2{
    font-size: 40px;
    padding-bottom: 30px;
}
   

.titolo-sezione4{
padding-right: 10px;
}
/* footer  */



#footer-background{
    background-color: black;
    padding: 100px 0 40px 0;
    color: white
}

footer li{
    color: white;
    line-height: 30px;
}

footer ul :first-child {
    font-size: 25px;
    line-height: 60px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.footer-wrapper2{
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding-top: 40px;
}
div.footer-wrapper2 span{
    padding: 0 5px;
}
.div-lingua{
    width: 80%;
    margin: 0 auto;
    color: white;
    display: flex;
}

#footer-small-border{
    border-top: 1px solid white;
    border-image: linear-gradient(to right, #fff 10%, transparent 10%) 100% 1;
}


/* #jumbotron{
    height: 500px;
} */


