/* regole generali */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
ul{
    padding: 0;
    list-style: none;
}
/* classi riutilizzabili */

.background-white{
    background-color: white;
}

.background-grey{
   background-color: rgb(180,208,231);
}

.background-80{
    width: 80%
}
.background-50{
    width: 50%;
}

/* bottoni  */

 button{ /*per qualche motivo di base il background è grigio, forse per qualche altro css linkato? tipo di fontawesome? */
    background-color: white;
}
.small-button{

}

.medium-button{
    background-color: blue;
    padding: 5px;
    
}

.long-button{

}

.longer-button{

}

/* body  */

body{
    
}

/* header  */
header{
    position: relative;
    width: 100%;
    /* display: flex;  vedi se è necessario avere tutto l'header flex o semplicemente un solo div   */
}

header div#fixed-div ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
header a{
    padding: 0 5px;
}
#fixed-div{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 20px 5px 20px 5px;
    z-index: 999;
}

#jumbotron{
    padding: 150px 20% 0 20%;
    width: 100%;
    
   
}
.contieni-titolo{
    width: 100%;
    display: block;
}
.contieni-immagine{
    width: 70%;
    height: 100%;
    object-fit: contain;
    }
.contieni-testo{
    width: 30%;
}
.contieni-testo li{
    padding-bottom: 50px;  /* devo trovare il modo di spaziare diversamente i contenuti tra di loro perché così non è corretto (la freccia per esempio doverebbe essere alla fine) */
}
div.contieni-immagine img{
        width: 100%;
        height: 100%;
    }

.flex-contenitore{
    display: flex;
    width: 100%;
    
}

h1{
    width: 100%;
    font-size: 80px;
    padding-bottom: 45px;
}
div.contieni-testo ul{
    padding: 0;
    list-style-type: none;
}


/* main  */
main{
    height: 100%;
}
main h2{
    width: 100%;
}

 #section-1{  /*magari posso trasformarla in una classe se è molto simile alle altre section */
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    

}
section span{
    display: block;
}
/* sottosezione 1  */
.titolo-colonna{
    text-align: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid gray;
}

.riga-piano-business{
    display: flex;
    flex-wrap: nowrap;
    gap: 5%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.padding-colonna{
    padding: 0 10px;
}
.colonna-piano-business{   
    width: calc(100% / 3);
    border: 1px solid gray;
    
    
}
div.colonna-piano-business button{/*  per farsi che il bottono e la span siano su due righe diverse */
    display: block;
}
.span-border {
    display: inline-block;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    
}
/* sottosezione 2 e 3 */
.riga-box-enterprise{
    width: 100%;
    margin-top: 40px;
    gap: 30px;
    margin-bottom: 100px;
}
.colonna-testo{
    width: 70%;
}
.colonna-bottone{
    width: 30%;
    text-align: center;
}
.bordo-box{
    border: 1px solid gray;
}

.flex-box{
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 5px;
}
 #gap{ /*gap per sottosezione 3 */
    gap: 30px;
    margin-bottom: 100px;
}


/* sottosezione 4 */

.wrapper-sottosez4{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    width: 100%;
    gap: 10px;
    margin-bottom: 100px;
}
div.wrapper-sottosez4 div img{
    width: 100%
}
div.wrapper-sottosez4 div{
    width: calc(100% / 3 - 7px);
}
div.wrapper-sottosez4 h2, div.wrapper-sottosez5 h2{
    font-size: 35px;
    margin-bottom: 50px;
}

/* sottosezione 5 */

.wrapper-sottosez5{
    width: 100%;
    
}

/* sezione 2 */

#section-2 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    
}

/* sottosezione box aziende  */

.container-box-aziende{
    width: calc(100% / 3);
    height: calc(60vw / 2);
    display: flex;
    flex-wrap: wrap;
}
.container-img{
   width: 50%;
   height: 50%;
   position: relative;
    
}

.container-testo-centrale{
    width: calc(100% / 3);
    height: calc(60vw / 2);
    overflow: auto ;
    background-color:rgb(245,245,245);
    padding: 40px 60px;
}
div.container-testo-centrale img{
    width: 50%;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}
div.container-testo-centrale p{
    padding: 50px 0;
}

.half-a-border-on-bot {
    border-image: linear-gradient(to right, #000 50%, transparent 50%) 100% 1;
}

div.container-box-aziende img{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 50%;
}

.filter{
    filter: invert(100%);
    /* prova ad usare fill per cambiar colore all'immagine */
}
#designit{
    background-color: green;

}

#asu{
    background-color: brown;
}

#uf{
    background-color: cornflowerblue;
}

#topps{
    background-color: orangered;
}

#wbr{

}

#hearst{

}

#lonely{

}

#clear{

}

/* sezione 3 */

#section-3{
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* debug  */

#fixed-div{
    background-color: red;

}

/* #jumbotron{
    height: 500px;
} */


