/* regole generali */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}


/* classi riutilizzabili */

.background-white{
    background-color: white;
}

.background-grey{
   background-color: rgb(180,208,231);
}


/* bottoni  */

.small-button{

}

.medium-button{

}

.long-button{

}

.longer-button{

}

/* body  */

body{
    
}

/* header  */
header{
    position: relative;
    width: 100%;
    /* display: flex;  vedi se è necessario avere tutto l'header flex o semplicemente un solo div   */
}


#fixed-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px 5px 20px 5px;
    z-index: 999;
}

#jumbotron{
    padding: 150px 20% 0 20%;
    width: 100%;
    
   
}
.contieni-titolo{
    width: 100%;
    display: block;
}
.contieni-immagine{
    width: 70%;
    height: 100%;
    object-fit: contain;
    }
.contieni-testo{
    width: 30%;
}
.contieni-testo li{
    padding-bottom: 50px;  /* devo trovare il modo di spaziare diversamente i contenuti tra di loro perché così non è corretto (la freccia per esempio doverebbe essere alla fine) */
}
div.contieni-immagine img{
        width: 100%;
        height: 100%;
    }

.flex-contenitore{
    display: flex;
    width: 100%;
    
}

h1{
    width: 100%;
    font-size: 80px;
    padding-bottom: 45px;
}
div.contieni-testo ul{
    padding: 0;
    list-style-type: none;
}


/* main  */

#section-1{
    display: flex;
}



/* footer  */





/* debug  */

#fixed-div{
    background-color: red;

}

/* #jumbotron{
    height: 500px;
} */